* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #666666;
  background: #F3EEE8;
}

body ::-moz-selection {
  background: #bbeeee;
  /* WebKit/Blink Browsers */
}

body ::selection {
  background: #bbeeee;
  /* WebKit/Blink Browsers */
}

body ::-moz-selection {
  background: #bbeeee;
  /* Gecko Browsers */
}

input {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #0A4CA2;
  padding: 0px 0px -10px 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  max-width: 500px;
  margin: auto;
  padding: 0;
}

header img {
  width: 200px;
  padding-top: 50px;
}

.caclulator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.calculator-ratio {
  max-width: 500px;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 10px;
}

.calculator-ratio h2 {
  font-weight: 300;
  letter-spacing: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 0px;
  color: #c2bdb7;
}

.calculator-ratio input {
  width: 90%;
  margin: auto;
  font-size: 90px;
  font-weight: 900;
  text-align: center;
  color: #c2bdb7;
  background: transparent;
  border-top: none;
  border-right: none;
  border-bottom: solid 5px #666666;
  border-left: none;
}

.calculator-ratio span {
  width: 20%;
  font-size: 90px;
}

.calculator-ratio .ratios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  letter-spacing: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #AD8B4C;
  font-size: 32px;
}

.calculator-ratio .ratio-display {
  font-weight: 100;
  width: 50%;
  text-align: right;
  border: 0;
  color: #666666;
  font-size: 60px;
}

.calculator-ratio .ratio-one {
  font-weight: 100;
  width: 50%;
  text-align: right;
  border: 0;
  color: #666666;
  font-size: 60px;
}

.calculator-calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  max-width: 500px;
  position: relative;
}

.calculator-calc input {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  font-size: 75px;
  font-weight: 900;
  letter-spacing: 2px;
  width: 65%;
  text-align: right;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #c2bdb7;
  border-left: none;
  margin: 40px 0px 0px 0px;
}

.calculator-calc .measurement {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 30px;
  margin-top: 60px;
  padding-left: 10px;
  line-height: 32px;
  color: #AD8B4C;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */
